# Dependencies
node_modules/
node_modules

# Build output
dist/
build/

# Vite cache
.vite/
.vite_deps/

# Local env files
.env
.env.*    # .env.development, .env.production, etc.

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
logs
lerna-debug.log*
dist
dist-ssr
*.local

# System files
.DS_Store
Thumbs.db

# Temp folders
.cache/
.tmp/

# images generated during development
D:\D Desktop\Gujarat_Ashram Website\Gujarat Ashram Website Wrapper Developement\my-ashram-site\public\images

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
